<a href="https://colab.research.google.com/github/TLeahSpencer/Loops_Lists_Wkshps/blob/master/9_1_20AdvLoops%26Lists.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Office Hours workshop with Anade (Terrence Davis)
#Advanced Loops & Lists in Python

Interger = Number

Float = Numbers with Decimals

String = Sequence of Characters (Words, Letters, Numbers, intergers, floats, etc)

Object = All Characters (Strings and Objects have become synonymous)

##**Loops** = Perform a task over and over again

##**Range Function** = Ordered Sequence

##**List** = Ordered Sequence

##**Set** = Unordered Sequence

**Conditional Statements**

Equals: x==y

Not Equals: x!=y

Less than: x<y

Less than or equal to: x<=y

Greater than: x>y

Greater than or equal to: x>=y

In [2]:
#define a list, Family is the name of the list here
Family = ['Husband', 'Sister', 'Child', 'Brother']

In [4]:
#function that acts on each item in the list
#in this case, it prints them
#A is a made-up thing, can be anything you make up
for A in Family: #this creates the Value A (blank variable) for values in Family (a real variable, a list)
  print(A) #this tells to print the variable A, which is defined by the values in Family

Husband
Sister
Child
Brother

In [5]:
#define a new variable Math, a list
Math = [7,8,9,5,4,2,1]

In [6]:
#this tells the variable to be multiplied by itself
for c in Math:
  print(c*c)

49
64
81
25
16
4
1

In [7]:
#this tells the variable to be added to 12
for c in Math:
  print(c+12)

19
20
21
17
16
14
13

In [12]:
#define a new variable with range function
#3 is position where range starts (so 4th because 1st is 0)
#200 is position where range ends (so 199 would be the highest number in range)
#21 is how many numbers to "skip" by in creating the range
Math2 = range(3,200,21)

In [13]:
#this shows what Math2 is defined as
Math2

range(3, 200, 21)

In [14]:
#this tells what type of object Math2 is
type(Math2)

range

In [16]:
#we can't get the values the range defines without the for statement below
print(Math2)

range(3, 200, 21)

In [17]:
#here is how we can pull the values we created in the range
for c in Math2:
  print(c)

3
24
45
66
87
108
129
150
171
192

In [22]:
#define another range variable
Math3 = range(2, 50, 3)

In [23]:
#see the values in our new range variable
for c in Math3:
  print(c)

2
5
8
11
14
17
20
23
26
29
32
35
38
41
44
47

In [24]:
#now do some math on the values in the variable
for c in Math3:
  print(c*c+2) #2*2=4+2=6, 5*5=25+2=27, ets

6
27
66
123
198
291
402
531
678
843
1026
1227
1446
1683
1938
2211

In [25]:
#define another list as variable Math4
Math4 = [5,6,7,7,5,7,8,12,14]

In [26]:
#find out the length or amount of characters or items in our list
len(Math4)

9

In [27]:
#define a variable based on the length of the other variable
NewMath=len(Math4)

In [28]:
#view the value of the new variable
#notice the for function is not needed
NewMath

9

In [29]:
#create a range based on the new variable
for x in range(0,NewMath):
  print(x)

0
1
2
3
4
5
6
7
8

In [30]:
#create a new variable which is a list
Family2 = ['Husband', 'Sister', 'Child', 'Brother', 'Mother', 'Father']

In [31]:
#view all the values in the variable
for b in Family2:
  print(b)

Husband
Sister
Child
Brother
Mother
Father

In [32]:
#break the loop after the == Conditional Statement, by placing print() function before it
for b in Family2:
  print(b)
  if b == 'Mother':
      break

Husband
Sister
Child
Brother
Mother

In [33]:
#break the loop before the == Conditional Statement, by placing the print() function after it
for b in Family2:
  if b == 'Mother':
      break
  print(b)

Husband
Sister
Child
Brother

In [35]:
#this is how to ignore a value in the loop
#poor mama :( she always gets ignored
for b in Family2:
  if b != 'Mother':
      print(b)

Husband
Sister
Child
Brother
Father

###If != is present, that means the loop remains True, green light to keep going, just don't include this output

In [36]:
#define another variable
A = 16

In [37]:
#a "While Loop" starts from the start of the variable
#and ends until our while is over, until A is no longer less than 40, in this case
while A < 40:
      print(A)
      A += 2

16
18
20
22
24
26
28
30
32
34
36
38

In [40]:
#define another variable
A2 = 60

In [ ]:
#WARNING: this code will keep running and running and running
#because we are adding, and the conditional statement of being greater than 40 will always be True
#to stop the code, right-click and select 'Interrupt Execution'
#no heads need to roll, at least not tonight
while A2 > 40:
      print(A2)
      A2 += 2

#Some final definitions from Anade
##While Loop: repeated as long as an expression is true
##Expression: a statement that has a value
##Do While Loop or Repeat Until Loop: repeats until an expression becomes False
##Infinite or Endless Loop: repeats indefinitely because it has no terminating condition, the exit condition is never met, or the loop is instructed to start over from the beginning
###Although it is possible for a programmer to intentionally use an infinite loop, they are often mistakes made by new programmers.
##Nested Loop: appears inside any other For, While, or Do While Loop